{% extends "base.html.twig" %}
{% block body %}
	<div class="container mt4">
		<h2>Me Contacter</h2>
		{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
		{{ form_start(form) }}
		{{ form_row(form.email)}}
		{{ form_row(form.nom)}}
		{{ form_row(form.message)}}
	</div>
</div>
<div class="form-group">
	<center>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<div class="g-recaptcha" data-sitekey="6LfMtiEbAAAAAEQC1_WZFFV8nOGMZLTzwvOH4XC0"></div>
		<input type="submit" value="Send" class=" btn btn-warning py-3 px-5"></center>
</div>

{{ form_end(form) }}</div></div>{% endblock %}
